
.dwr-table{
    max-width: 600px;
    width: 100%;
    font-family: Arial;
    border-collapse: collapse;
 
}
.dwr-table th{
    padding: 10px;
    color: #ffffff;
    background: #FFAB1A;
}
.dwr-table td{
    text-align: center;
    padding: 10px;
}